/* здесь используйте глобальные переменные */
//device
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

//font
$font-oswald: "Oswald", "Arial", sans-serif;

//color
$base-white: #ffffff;
$base-black: #000000;
$base-green: #68b738;
$base-light-grey: #f2f2f2;
$base-grey: #666666;
$base-dark-grey: #444444;
