/* здесь используйте глобальные переменные */
//device
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

//container
$mobile-container: 280px;
$tablet-container: 704px;
$desktop-container: 1220px;

//padding
$mobile-padding: 0 20px;
$tablet-padding: 0 30px;
$desktop-padding: 0 110px;

//font
$font-oswald: "Oswald", "Arial", sans-serif;

//color
$color-white: #ffffff;
$color-black: #000000;
$color-text: #111111;
$color-special-black: #222222;
$color-green: #68b738;
$color-green-hover:#5eaa2f;
$color-light-grey: #f2f2f2;
$color-grey: #666666;
$color-dark-grey: #444444;

//decor
$color-border-menu: #e6e6e6;
$color-result-border: #cdcdcd;
$color-example-grey: #eaeaea;
$color-decor-grey: #d9d9d9;
$color-card-grey: #d3d3d3;
$color-grey-border: #ebebeb;
$color-invalid: #ff8282;
$color-radio-hover: #bababa;

