.add-card__chapter {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.add-card__content {
  background: none;
}

.add-card__pack {
  background: none;
}

.add-card__price {
  background: none;
}

.add-card__order {
  background: none;
}
