.advantages {
  width: $mobile-container;
  margin: 0 auto;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}

.advantages__title {
  font-family: $font-oswald;
  font-size: 36px;
  line-height: 40px;
  color: $base-black;
  text-transform: uppercase;
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 31px;
  }
}


.advantages__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $base-green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.advantages__item--plant::before {
  background-image: url("../../icons/stack.svg#index_icon-plant");
}

.advantages__item--water::before {
  background-image: url("../../icons/stack.svg#index_icon-water");
}

.advantages__item--food::before {
  background-image: url("../../icons/stack.svg#index_icon-food");
}

.advantages__item--time::before {
  background-image: url("../../icons/stack.svg#index_icon-time");
}

.advantages__text {
  background: none;
}
