.advantages {
  background: none;
}

.advantages__title {
  font-family: $font-oswald;
  font-size: 36px;
  line-height: 40px;
  color: $base-black;
  text-transform: uppercase;
}

.advantages__list {
  background: none;
}

.advantages__item {
  background: none;
}

.advantages__item--plant {
  background: none;
}

.advantages__item--water {
  background: none;
}

.advantages__item--food {
  background: none;
}

.advantages__item--time {
  background: none;
}

.advantages__text {
  background: none;
}
