.button {
  display: block;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $base-white;
  padding: 10px 0;
  transition: background-color 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
    transition: background-color 0.2s linear;
  }

  &:focus-visible {
    background-color: #5eaa2f;
    outline: 2px solid $base-green;
    outline-offset: 2px;
  }

  &:active {
    color: rgba($base-white, 0.3);
    transition: color 0.2s linear;
  }

  &:disabled {
    background-color: #5eaa2f;
    color: $base-white;
    cursor: default;
    opacity: 0.3;
  }
}
