.button {
  padding: 10px;
  border: none;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $base-white;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus-visible {
    background-color: #5eaa2f;
    outline: 2px solid $base-green;
    outline-offset: 2px;
  }

  &:active {
    color: rgba($color: $base-white, $alpha: 0.6);
  }

  &:disabled {
    background-color: #5eaa2f;
    color: $base-white;
    cursor: default;
    opacity: 0.3;
  }
}
