.button {
  display: block;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color-green;
  color: $color-white;
  padding: 10px 0;
  cursor: pointer;

  &:hover {
    background-color: $color-green-hover;
  }

  &:focus-visible {
    background-color: $color-green-hover;
    outline: 2px solid $color-green;
    outline-offset: 2px;
  }

  &:active {
    background-color: $color-green-hover;
    color: rgba($color-white, 0.3);
    transition: color 0.2s linear;
  }
}
