.card {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card__image-link {
  background: none;
}

.card__title-link {
  background: none;
}

.card__title {
  background: none;
}

.card__features-list {
  background: none;
}

.card__item {
  background: none;
}

.card__chapter {
  background: none;
}

.card__value {
  background: none;
}

.card__order {
  background: none;
}
