.card-all {
  background: none;
}

.card-all__title {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.card-all__title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../icons/stack.svg#catalog_icon-plus");
}

.card-all__text {
  font-size: 12px;
  line-height: 16px;
}

.card-all__to-all {
  background: none;
}
