.footer {
  background-color: $base-grey;
}

.footer__logo {
  mask-image: url("../../icons/stack.svg#footer_footer-logo");
  background-color: currentColor;
}

.footer__social {
  background: none;
}

.footer__logo-htmlacademy {
  mask-image: url("../../icons/stack.svg#footer_logo-htmlacademy");
  background-color: currentColor;
}
