.hero {
  @include flexbox (column,center,center);
  text-align: center;
  font-family: $font-oswald;
  font-weight: 400;
  color: $color-white;
  background-color: $color-green;

  @media (min-width: $tablet-width) {
    width: $tablet-container;
    margin: 0 auto;
    color: $color-black;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.hero__slogan {
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.hero__image {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    object-fit: cover;
  }
}

.hero__link {
  width: 280px;
  margin: 0 auto;
}
