.hero {
  @include flexbox (column, center, center);
  font-size: $font-oswald;
  text-align: center;
  color: $base-white;
  background-color: $base-green;

  @media (min-width: $tablet-width) {
    width: $tablet-container;
    color: $base-black;
    background-color: $base-white;
    margin-top: 0 auto;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
}

.hero__slogan {
  line-height: 14px;
  text-transform: uppercase;
}

.hero__image {
  background: none;
}

.hero__link {
  font-size: 16px;
  line-height: 20px;
  color: $base-white;
  background-color: $base-green;
}
