.main-header {
  margin: 0 13px auto;
}

.main-header__container {
  @include flexbox (row, space-between, center);
  flex-wrap: wrap;
  width: $mobile-width;
  margin-top: 0 auto;
}

.main-header__logo-image {
  margin-right: 13px;
}

.main-header_logo-text {
  width: 101px;
  height: 18px;
}
