.main-header {
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    @include flexbox (row, space-between, center);
    flex-wrap: wrap;
    width: $tablet-container;
    margin: 0 auto;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container;
    margin-top: 55px;
  }
}

.main-header__container {
  @include flexbox (row, space-between, center);
  flex-wrap: wrap;
  width: $mobile-container;
  margin: 0 auto;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 192px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-header__logo-image {
  @include flexbox(center);
  gap: 56px;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.main-header__navigator {
  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 580px;
  }
}

.main-header__menu {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: $color-white;
  border: none;
  cursor: pointer;


  &:hover {
    opacity: 0.6;
    transition: opacity 0.2s linear;
  }

  &:active {
    opacity: 0.3;
    transition: opacity 0.2s linear;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__menu::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  transform: translate(-50%, -450%);
  background-color: $color-black;
  box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
  transition: all 0.3s ease;
}

.main-header__menu::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  transform: translate(-50%, -450%);
  background-color: $color-black;
  box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
  transition: all 0.3s ease;
}

.main-header__menu--close::before {
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: none;
  transition: all 0.3s ease;
}

.main-header__menu--close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
  box-shadow: none;
  transition: all 0.3s ease;
}
