.navigator {
  font-family: $font-oswald;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-black;
}

.navigator__list {
  background: none;
}

.navigator__item {
  @include reset-list;
}

.navigator__link {
  background: none;
}
