/* stylelint-disable @stylistic/indentation */
.program__list {
  @include reset-list;
}

.program__item {
  position: relative;
}

.program__title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: $font-oswald;
  font-size: 24px;
  line-height: 37px;
  color: $base-black;
  text-transform: uppercase;
}

.program__title::before {
  content: "";
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $base-green;
}

.program__title--slim::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#index_icon-cat-slim");
}

.program__title--pro::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#index_icon-cat-pro");
}

.program__link {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 16px;
  color: $base-black;
  text-decoration: none;
}

.program__link::after {
	content: "";
	position: absolute;
	width: 32px;
	height: 10px;
	background-image: url("../../icons/stack.svg#index_icon-arrow");
}
