.social {
  background: none;
}

.social__item {
  @include reset-list;
}

.social__link {
  background: none;
}

.social__link--vkontakte {
  background: none;
}

.social__link--youtube {
  background: none;
}

.social__link--telegram {
  background: none;
}
