.social {
  background: none;
}

.social__item {
  @include reset-list;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: $base-grey;
  text-decoration: none;
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#footer_icon-social-vkontakte");
  background-color: currentColor;
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#footer_icon-social-youtube");
  background-color: currentColor;
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#footer_icon-social-telegram");
  background-color: currentColor;
}
