.subscription {
  background: none;
}

.subscription__title {
  font-size: 24px;
  line-height: 24px;
  color: $base-black;
}

.subscription__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.subscription__email-form {
  background: none;
}

.subscription__label {
  background: none;
}

.subscription__input {
  background: none;
}

.subscription__subscribe {
  background: none;
}
